.header {
    width: 100%;
    height: 10%;
    /* background-color: green; */
    position: sticky;
}

.nav-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#hamburger {
    width: 2em;
}