.navBar {
    width: 100vw;
    background-color: red;
    height: 20%;
}

.header {
    display: flex;
    align-items: center;
    height: max-content;
    justify-content: space-around;
    padding: 22px 0;
}

#hamburger {
    width: 2em;
}