@media screen and (max-width:767px){
    .navBar {
       display: flex;
       align-items: center;
       width: 100%;
       background-color: green;
    }

    .nav-items{
        display: flex;
        background-color: indianred;
        flex-direction: column;
        gap: 1em;
    }

    .humburger {
        display: fixed;
      }

    .open .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
    
}

.navBar {
    /* width: 100vw; */
    height: 30%;
    position: sticky;
    /* z-index: 100; */
    top: 0;
    background-color: rgba(255, 253, 253, 0.8);
    backdrop-filter: blur(10px);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 22px 0px;
    /* background-color: green; */
}

.header-right {
    display: flex;
    /* background-color: red; */
    align-items: center;
    /* padding-left: 1em; */
    
}

.nav-menu {
    display: flex;
    margin-right: 60px;
}

.nav-items {
    display: flex;
    list-style: none;
}

.nav-items > li {
    padding-right: 1em;
}

#resume-btn {
   background-color: white;
   border: 1px solid black;
   border-radius: 10px;
   width: 80px;
   padding: 2px;

}

#resume-btn:hover {
    border-color: orange;

}

.humburger {
    /* width: 2em; */
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: blue;
    display: none;
}
   

.line {
    width: 100%;
    height: 2px;
    background-color: #0b0b0b;
    transition: transform 0.3s ease;
    
  }
  